$default-padding: 0.2em;
$default-color-dark: rgb(59, 65, 71);
$default-color-text: rgb(250, 250, 250);
$default-color-highlight: rgb(37, 110, 184);

@mixin border ($width: 0.1em, $style: solid, $color: darken($default-color-dark, 5), $radius: 0.4em) {
    @if $width {
        border-width: $width;
    }
    @if $style {
        border-style: $style;
    }
    @if $color {
        border-color: $color;
    }

    @if $radius {
        border-radius: $radius;
    }
}

QWidget {
    font-size: 11.5pt;
    padding: $default-padding;
    margin: $default-padding;
    background-color: $default-color-dark;
    color: $default-color-text;
    selection-background-color: $default-color-highlight;
    font-family: Roboto Slab;
}

QAbstractButton {
    border-radius: 0.4em;
    padding: $default-padding $default-padding * 2;

    &:hover {
        background-color: lighten($default-color-dark, 10);
    }

    &:pressed {
        background-color: $default-color-highlight;
    }

    &:disabled {
        background-color: lighten($default-color-dark, 25);
        color: darken($default-color-text, 25);
    }
}

QPushButton {
    $pushbutton-border-color: darken($default-color-dark, 5);
    @include border($color: $pushbutton-border-color);

    &:disabled {
        border-color: lighten($pushbutton-border-color, 25);
    }
}

QToolBar {
    $toolbar-color-dark: lighten($default-color-dark, 10);

    background-color: $toolbar-color-dark;
    outline: None;
    margin: 0;
    border: None;

    SpacerWidget, QMenuBar, QAbstractButton, QLabel {
        background-color: $toolbar-color-dark;
    }

    QAbstractButton:hover {
        background-color: $default-color-dark;
    }

    QAbstractButton:pressed {
        background-color: $default-color-highlight;
    }

    &:separator {
        width: 0.1em;
        background-color: $default-color-dark;
        margin: 0.3em 0.1em;
    }

    QPushButton {
        background-color: $default-color-dark;

        &:hover {
            background-color: lighten($default-color-dark, 5);
        }
        &:pressed {
            background-color: $default-color-highlight;
        }
    }
}

QLineEdit {
    @include border;
    border-radius: 0.4em;
    background-color: lighten($default-color-dark, 10);
}

QLineEdit:focus {
    @include border($color: $default-color-highlight);
}

QMenu {
    margin: 0;
    padding: 0;
}

QProgressBar {
    @include border($style: None);
    padding: 0;
    text-align: center;

    &:chunk {
        margin: 0;
        @include border($color: darken($default-color-highlight, 15));
        background-color: $default-color-highlight;
    }
}

QScrollBar {

    width: 1em;
    height: 1em;
    padding: 0;
    background-color: darken($default-color-dark, 15);

    &:handle {
        background-color: lighten($default-color-dark, 15);
        border-radius: 0.3em;

        &:hover {
            background-color: $default-color-highlight;
        }
    }

    &:add-line, &:sub-line {
        background-color: pink;
        height: 0;
        width: 0;
    }

}

QSplitter {
    &:handle {
        background-color: lighten($default-color-dark, 15);
        border-radius: 0.3em;

        &:hover {
            color: $default-color-highlight;
        }
    }
}

QAbstractItemView {
    padding: 0;
    border: none;


    &:item {
        padding: $default-padding * 1.5;

        QLineEdit {
            padding: 0;
            margin: 0;
        }

        /*
        &:hover {
            background-color: lighten($default-color-dark, 5);
        }
        */
    }

}

QListView {
    @include border();
    background-color: lighten($default-color-dark, 10);

    &:focus {
        @include border($color: $default-color-highlight);
    }
}

QListView:item {
    border-radius: 0.4em;

    &:selected {
        background-color: $default-color-highlight;
        outline: none;
    }
}

QHeaderView {
    padding: 0;
    margin: 0;

    &:section {
        $header-color-dark: lighten($default-color-dark, 10);
        $header-border-width: 0.1em;

        @include border($width: $header-border-width, $radius: 0);

        border-width: $header-border-width $header-border-width / 2;
        //height: 2em;
        padding: $default-padding * 2;
        background-color: $header-color-dark;
        margin: 0;

        &:hover {
            background-color: $default-color-dark;
        }

        &:first {
            border-left-width: $header-border-width;
            border-top-left-radius: 0.4em;
        }

        &:last {
            border-top-right-radius: 0.4em;
            border-right-width: $header-border-width;
        }
    }
}